
.hypr-tooltip {
    margin: 0;
    padding: 0;
    height: 1rem;
    position: relative;
    display: inline-block;
}

.hypr-tooltip-icon-main,
.hypr-tooltip-text-main {
    cursor: help;
    color: var(--color-primary);
    width: 1rem;
    margin: 0;
    padding: 0;
    transform: translateY(-5px);
}




.hypr-tooltip-content {
    position: absolute;
    z-index: 1000;
    background-color: var(--color-elev-1);
    border: 1px solid var(--color-border);
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.875rem;
    transform: translateY(-15px);

    max-width: 200px;
    width: max-content;
    max-height: 100px;
    overflow-y: auto;

    & > * {
        margin: 0;
        padding: 0;
    }
}